HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.test/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.mvn/
test/
test/*
# But not empty folders
!*/





/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
/logs/snowy-web-app-log/log_error.log
/logs/snowy-web-app-log/log_total.log
/.idea/uiDesigner.xml
/.idea/vcs.xml

# 排除Spring Boot项目的test、target文件夹及所有文件夹下的文件
**/test/
**/target/

# 排除前端项目的node_modules文件夹及所有文件夹下的文件
**/node_modules/
/fron-end/package-lock.json
/.idea/modules.xml
/.idea/workspace.xml
/.idea/dataSources/c1cacfc0-45b0-4db4-9fa8-2e3ec7cc18e6.xml
/.idea/dataSources/c1cacfc0-45b0-4db4-9fa8-2e3ec7cc18e6/storage_v2/_src_/schema/chat_hub.juuxVQ.meta
/.idea/dataSources.local.xml
/.idea/deployment.xml
/.idea/webServers.xml
/.idea/shelf/_2024_5_16_9_31____.xml
/.idea/dataSources.xml
/front-end/package-lock.json
/.idea/shelf/在进行更新之前于_2024_5_16_下午9_31_取消提交了更改_[更改]/shelved.patch
/.idea/shelf/在进行更新之前于_2024_5_16_下午9_31_取消提交了更改_[更改]/shelved.patch
/front-end/dist/
/.idea/dataSources/c1cacfc0-45b0-4db4-9fa8-2e3ec7cc18e6/storage_v2/_src_/schema/picture_bed.wFkqtA.meta
/.idea/shelf/_2024_6_21_9_07____.xml
